<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deity.name %>
</p>

<p>
  <strong>Power:</strong>
  <%= @deity.power %>
</p>

<p>
  <strong>Time judgment:</strong>
  <%= @deity.time_judgment %>
</p>

<p>
  <strong>Height:</strong>
  <%= @deity.height %>
</p>

<p>
  <strong>On earth:</strong>
  <%= @deity.on_earth %>
</p>

<p>
  <strong>In space:</strong>
  <%= @deity.in_space %>
</p>

<p>
  <strong>Wears glasses:</strong>
  <%= @deity.wears_glasses %>
</p>

<p>
  <strong>Human sacrifices:</strong>
  <%= @deity.human_sacrifices %>
</p>

<p>
  <strong>Sacrifices:</strong>
  <%= @deity.sacrifices %>
</p>

